{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Mon compte - Caftaned{% endblock %}

{% block content %}
    <a href="{{path('account')}}">Retour à Mon compte</a>
    <hr>

    <div class="row w-50 m-auto justify-content-center">
        <h1 class="mb-3 font-weight-normal">Modification du mot de passe</h1>
        {% if validation %}
            {{ validation|raw }}
        {% endif %}

        {{form(form)}}
    </div>

{% endblock %}
