{% extends 'base.html.twig' %}

{% block title %}Mon compte - Caftaned{% endblock %}

{% block content %}
<h1 class="mb-3 font-weight-normal">Mon compte</h1>
Bienvenue <strong>{{ app.user.firstname }}</strong>.<br>

<hr>


{% endblock %}
