{% extends 'base.html.twig' %}

{% block title %}Mon compte - Caftaned{% endblock %}

{% block content %}
<h1 class="mb-3 font-weight-normal">Mon compte</h1>
Bienvenue <strong>{{ app.user.firstname }}</strong>.<br>
<a href="{{path('account_change_password')}}">Modifier mon mot de passe</a>
<a href="{{path('')}}">Gérer mes adresses</a>
<hr>


{% endblock %}
